/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'Lexend Peta';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lexend Peta Regular'), local('LexendPeta-Regular'), url(https://fonts.gstatic.com/s/lexendpeta/v1/BXRvvFPGjeLPh0kCfI4OkH_yecA.ttf) format('truetype');
}
html,
body {
  height: 100%;
}
html .bodyContainer,
body .bodyContainer {
  width: 90%;
  padding: 20px;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: flex-end;
}
a {
  text-decoration: none;
  color: black;
  padding: 10px;
  font-size: 1.3rem;
}
.headShot {
  border-radius: 80px;
}
.name {
  font-family: 'Lexend Peta', sans-serif;
  font-size: 2rem;
  padding-top: 20px;
}
.intro {
  padding: 20px;
  width: 50%;
}
.skills {
  padding: 0 50px;
}
h2 {
  font-size: 1.2rem;
}
ul.b {
  list-style-type: square;
  padding-top: 10px;
}
h4 {
  padding-top: 20px;
  padding-left: 20px;
}
.experience {
  padding: 20px;
  width: 50%;
}
